@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 124, 58, 237;
	--primary-content: 255, 255, 255;
	--primary-dark: 95, 20, 224;
	--primary-light: 155, 105, 241;

	--secondary: 171, 237, 58;
	--secondary-content: 24, 37, 3;
	--secondary-dark: 149, 224, 20;
	--secondary-light: 191, 241, 105;

	--success: 58, 237, 58;
	--warning: 237, 237, 58;
	--error: 237, 58, 58;

	--success-content: 3, 37, 3;
	--warning-content: 37, 37, 3;
	--error-content: 255, 255, 25;
}

.light {
	--background: 240, 240, 240;
	--foreground: 251, 251, 251;
	--border: 223, 223, 223;

	--copy: 38, 38, 38;
	--copy-light: 102, 102, 102;
	--copy-lighter: 140, 140, 140;
}

.dark {
	--background: 26, 26, 26;
	--foreground: 38, 38, 38;
	--border: 64, 64, 64;

	--copy: 251, 251, 251;
	--copy-light: 217, 217, 217;
	--copy-lighter: 166, 166, 166;

	/* --background: 23, 18, 33;
	--foreground: 35, 27, 50;
	--border: 59, 45, 83;

	--copy: 251, 250, 252;
	--copy-light: 214, 205, 228;
	--copy-lighter: 159, 139, 193; */
}

meta[name='theme-color'],
meta[name='apple-mobile-web-app-status-bar-style'] {
	content: rgb(var(--background));
}
